:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
}
.taskManager{
	width: 360px;
}
#inputTask {
    width: 300px;
    height: 46px;
	margin-top: 10px;
	padding: 0 10px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addTask {
    height: 50px;
    width: 50px;
	margin-top: 10px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}


.tasklist-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}


.taskContainer {
    margin-top: 25px;
}